MEMO_PASSWORD_RESET_BASE_URL=http://127.0.0.1:8000/admin
MEMO_SMTP_HOST=smtp.gmail.com
MEMO_SMTP_PORT=587
MEMO_SMTP_FROM=your-gmail@gmail.com
MEMO_SMTP_USER=your-gmail@gmail.com
MEMO_SMTP_PASSWORD=your-google-app-password
MEMO_SMTP_SSL=false
